@import "./assets/css/style.css";
@import "./assets/css/responsive.css";
@import "./assets/css/main.css";
@import "./assets/css/colors.css";
@import "./assets/css/dge.css";

@font-face {
  font-family: 'JlIconFont';
  src: url('/font/jl_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pointer { 
  cursor: pointer;
}

.modal-dialog { 
  overflow-y: initial !important;
}

.modal-body { 
  max-height: 450px;
  overflow-y: auto;
}
